
section.testimonials{
  padding: 120px 0;
  background: #f1f1f1;
  color: black;
  text-align: center;
}

section h1{
  text-align: center;
  text-transform: uppercase;
  font-size: 34px;
}

.inner{
  max-width: 1200px;
  margin: auto;
  overflow: hidden;
  padding: 0 20px;
}

.line{
  width: 160px;
  height: 2px;
  background: #2d98da;
  margin: 26px auto;
}

.row{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.col{
  flex: 33.33%;
  max-width: 33.33%;
  box-sizing: border-box;
  padding: 15px;
}
.pfbox{
  background: #fff;
  padding: 30px;
}
.pfbox img{
  width: 100px;
  height: 100px;
  border-radius: 50%;
}
.name{
  font-size: 20px;
  text-transform: uppercase;
  margin: 20px 0;
}

p.para, .name{
  color: black;
}

.p-name{
  margin: 16px 0;
  text-transform: uppercase;
}
.job-title{
  font-style: italic;
  color: #3498db;
}
.socialbtn{
  margin: 12px 0;
}
.socialbtn a{
  margin: 0 4px;
  display: inline-block;
  width: 30px;
  height: 30px;
  transition: 0.4s;
}
.socialbtn a:hover{
  transform: scale(1.3);
}
.socialbtn a i{
  color: #333;
  line-height: 30px;
}

@media screen and (max-width:960px) {
.col{
  flex: 100%;
  max-width: 80%;
}
}

@media screen and (max-width:600px) {
.col{
  flex: 100%;
  max-width: 100%;
}
}
