 
section.first{
  width: auto;
  height: 100vh;
  background-size: cover;
  background-position: center;
} 

div.container{
  max-width: 1400px;
}

section.first h1{
  padding-top: 25%;
  text-align: center;
  font-weight: 700;
  font-size: 3em;
  color: azure;
}

section.first h3{
  color: aliceblue;
  text-align: center;
  font-weight: 600;
}

.cborder{
  height: auto;
  padding: 20px;
}

.img-size{
  padding: 10px;
  margin-bottom: 15px;
  height: 200px;
  width: 300px;
}

/* main style  */
  .backgroud1{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    } 
    .section-1{
      height: 100vh;
      background-image: url(https://images.unsplash.com/photo-1526160330691-76a3d9690cfd?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjI0MX0&auto=format&fit=crop&w=1950&q=80);
      background-attachment: fixed;
      background-size: cover;
      background-position: center;
    }
  .text-p {
    display: flex;
    padding: 10%;
    height: 100%;
    width: 100%;
    font-family: "Raleway", 'Roboto slab';
    color: white;
    font-size: 5vw;
    font-weight: bold;
  }

  /* section-2 */
    .section-2{
      height: 10vh;
      background-color: beige;
      background-attachment: fixed;
      background-size: cover;
    }


