 
section.first{
  width: auto;
  height: 100vh;
  background-size: cover;
  background-position: center;
} 

div.container{
  max-width: 1400px;
}

section.first h1{
  padding-top: 25%;
  text-align: center;
  font-weight: 700;
  font-size: 3em;
  color: azure;
}

section.first h3{
  color: aliceblue;
  text-align: center;
  font-weight: 600;
}

.cborder{
  height: auto;
  padding: 20px;
}

.img-size{
  padding: 10px;
  margin-bottom: 15px;
  height: 200px;
  width: 300px;
}

.small-space{
  height: 10px;
}

/* main style  */
.backgroud1{
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
} 

main{
  height: 100vh;
  background-image: url(../Image/BG.jpg);
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
}

.text-p {
  display: flex;
  padding: 10%;
  height: 100%;
  width: 100%;
  font-family: "Raleway", 'Roboto slab';
  color: white;
  font-size: 3vw;
  font-weight: bold;
}
