section.first{
  width: auto;
  height: 100vh;
  background-size: cover;
  background-position: center;
}

div.container{
  max-width: 1400px;
}

section.first h1{
  padding-top: 25%;
  text-align: center;
  font-weight: 700;
  font-size: 3em;
  color: azure;
}

section.first h3{
  color: aliceblue;
  text-align: center;
  font-weight: 600;
}

.cborder{
  height: auto;
  padding: 20px;
}

.img-size{
  padding: 10px;
  margin-bottom: 15px;
  height: 200px;
  width: 300px;
}