*{
    text-decoration: none;
    text-transform: none;
    list-style: none;
    padding: 0;
    margin: 0;
    font-family: "Raleway", 'Roboto slab';
    box-sizing: border-box;
}

html{
height: 100%;
}

header{
  z-index: 1;
  position: sticky;
  top: 0;
}

nav{
  background: #45aaf2;
  height: 80px;
  width: 100%;
}

label.logo{
  color: white;
  font-size: 35px;
  line-height: 80px;
  padding: 0 80px;
  font-weight: bold;
}

nav ul{
  float: right;
  margin-right: 20px;
}

nav ul li{
  display: inline-block;
  line-height: 80px;
  margin: 0 4px;
}

nav ul li a{
  color: white;
  font-size: 17px;
  padding: 7px 10px;
  border-radius: 3px;
  text-transform: uppercase;
}
a.active,a:hover{
  text-decoration: none;
  color: white;
  background: #2d98da;
  transition: .5s;
}
.checkbtn{
  font-size: 30px;
  color: white;
  float: right;
  line-height: 80px;
  margin-right: 40px;
  cursor: pointer;
  display: none;
}
#check{
  display: none;
}
@media (max-width: 952px){
  label.logo{
    font-size: 30px;
    padding-left: 50px;
  }
  nav ul li a{
    font-size: 16px;
  }
}
@media (max-width: 858px){
  .checkbtn{
    display: block;
  }
  ul{
    position: fixed;
    width: 100%;
    height: 100vh;
    background: #2d3436;
    top: 80px;
    left: -100%;
    text-align: center;
    font-size: 24px;
    font-weight: 500;
    transition: all .5s;
    opacity: 95%;
  }
  nav ul li{
    display: block;
    margin: 50px 0;
    line-height: 30px;
  }
  nav ul li a{
    font-size: 20px;
  }
  a:hover,a.active{
    background: none;
    color: #0082e6;
  }
  #check:checked ~ ul{
    left: 0;
  }
}

footer{
    background-color:#45aaf2;
    color: #ddd;
    margin: 0 auto;
    padding: 20px;
    width: 100%;
    bottom: 0px;
}
