
section.service-section{
    padding: 120px 0;
    background-image: url(bg.jpg);
    background-size: cover;
    background-position: center;
}

.inner-width{
    width: 100%;
    max-width: 1200px;
    margin: auto;
    padding: 0 20px;
    overflow: hidden;
}

.section-title{
    text-align: center;
    color: #ddd;
    text-transform: uppercase;
    font-size: 34px;
}

.line{
    width: 180px;
    height: 2px;
    background-color: #2d98da;
    margin: 40px auto;
}

.service-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.service-box{
    max-width: 30%;
    padding: 10px;
    text-align: center;
    color: white;
    cursor: pointer;
}

.service-icon{
    display: inline-block;
    width: 70px;
    height: 70px;
    border: 3px solid #2d98da;
    transform: rotate(45deg);
    margin-bottom: 30px;
    margin-top: 16px;
    transition: 0.3s linear;
}

.service-icon i {
    line-height: 70px;
    transform: rotate(-45deg);
    font-size: 26px;
    text-indent: 5px;
}

.service-box:hover .service-icon{
    background-color: #2d98da;
    color: white;
}

.service-title{
    font-size: 20px;
    font-weight: 500;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.service-des{
    font-size: 16px;
}

.service-box a:visited{
    color: #ddd;
}

@media screen and (max-width:960px) {
    .service-box{
        max-width: 45%;
    }
}

@media screen and (max-width:768px) {
    .service-box{
        max-width: 50%;
    }
}

@media screen and (max-width:480px) {
    .service-box{
        max-width: 100%;
    }
}


